<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRMS</title>

    <link href="~/dha_theme/bootstrap/bootstrap-4.5.2.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/dha_theme/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/dha_theme/css/custom.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/dha_theme/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/dha_theme/css/fixedcolumns.datatables.min.css" rel="stylesheet" asp-append-version="true" />

</head>
<body style="background: #f6f6f6">
    <partial name="_Header" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
    </div>
    @*
    <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2022 - HRMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/dha_theme/scripts/jquery-3.5.1.js" asp-append-version="true"></script>
    <script src="~/dha_theme/scripts/bootstrap-4.5.2.js" asp-append-version="true"></script>
    <script src="~/dha_theme/scripts/all.min.js" asp-append-version="true"></script>
    <script src="~/dha_theme/scripts/jquery.datatables.min.js" asp-append-version="true"></script>
    <script src="~/dha_theme/scripts/datatables.fixedcolumns.min.js" asp-append-version="true"></script>
    <script src="~/dha_theme/scripts/dt-javascript.js" asp-append-version="true"></script>
    <script src="~/dha_theme/scripts/acrs-db.js" asp-append-version="true"></script>
    <script src="~/dha_theme/scripts/discipline-dt.js" asp-append-version="true"></script>
    <script src="~/dha_theme/scripts/leave-management-db.js" asp-append-version="true"></script>
    <script src="~/dha_theme/scripts/wellfarebenifit.js" asp-append-version="true"></script>
    <script src="~/dha_theme/scripts/posting-dt.js" asp-append-version="true"></script>
    <script src="~/dha_theme/scripts/custom.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
